// =======================================
// FOOD ICONS
// =======================================

span[class*="food-icon"] {
  position: relative;
  float: left;
  width: 80px;
  padding: 17px 25px 10px;
  margin-top: -60px;
  top: 8px;
  color: #358A59;
  background: #F9FAFB;
  border-bottom: 1px solid whitesmoke;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -1.5px 1px -1px #E6E6E6;
}

[class*="food-icon"]:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background-size: cover;
}

th [class*="food-icon"]:before {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px;
  text-align: center;
  background-repeat: no-repeat;
}

$foods: (
  apple,
  apple-1,
  asparagus,
  aubergine,
  avocado,
  bacon,
  baguette,
  banana,
  beans,
  biscuit,
  blueberries,
  boiled,
  bowl,
  bowl-1,
  bread,
  bread-1,
  bread-2,
  broccoli,
  butcher,
  butter,
  cabbage,
  cake,
  can,
  can-1,
  can-2,
  candy,
  candy-1,
  carrot,
  cauliflower,
  cereals,
  cheese,
  cheese-1,
  chef,
  cherries,
  chili,
  chips,
  chives,
  chocolate,
  coconut,
  coffee,
  coffee-1,
  coffee-2,
  coffee-3,
  coffee-4,
  coffee-maker,
  cookies,
  corckscrew,
  corn,
  corndog,
  croissant,
  cucumber,
  cup,
  cupcake,
  cupcake-1,
  cupcake-2,
  cutlery,
  dairy,
  dish,
  dishes,
  doughnut,
  doughnut-1,
  doughnut-2,
  egg,
  eggs,
  fig,
  fish,
  flour,
  flour-1,
  food,
  fork,
  frappe,
  fries,
  garlic,
  gingerbread,
  glass,
  glass-1,
  glass-2,
  glass-3,
  glass-4,
  glass-5,
  glass-6,
  grain,
  grapes,
  grater,
  grinder,
  groceries,
  ham,
  hamburguer,
  hamburguer-1,
  hazelnut,
  honey,
  honey-1,
  hot-dog,
  hot-dog-1,
  ice-cream,
  ice-cream-1,
  ice-cream-2,
  ice-cream-3,
  ice-cream-4,
  ice-cream-5,
  ice-cream-6,
  ice-cream-7,
  ice-cream-8,
  ice-cream-9,
  ice-cream-10,
  ice-cream-11,
  ice-cream-12,
  ice-cream-13,
  ice-cream-14,
  jam,
  jam-1,
  jawbreaker,
  jelly,
  kebab,
  kebab-1,
  kebab-2,
  kitchen,
  knife,
  knife-1,
  knife-2,
  knife-3,
  knives,
  ladle,
  lemon,
  lemon-1,
  lime,
  meat,
  meat-1,
  meat-2,
  milk,
  milk-1,
  mixer,
  mug,
  mushroom,
  mushrooms,
  mustard,
  mustard-1,
  mustard-2,
  noodles,
  oat,
  octopus,
  oil,
  olives,
  onion,
  onion-1,
  orange,
  ornating,
  pan,
  pancakes,
  pancakes-1,
  pasta,
  pasta-1,
  peach,
  pear,
  peas,
  pepper,
  pepper-1,
  pickles,
  pie,
  pie-1,
  pie-2,
  pineapple,
  pint,
  pistachio,
  pizza,
  pizza-1,
  pizza-2,
  pizza-3,
  pizza-4,
  pizza-5,
  pomegranate,
  popsicle,
  pot,
  pot-1,
  pot-2,
  potatoes,
  potatoes-1,
  potatoes-2,
  pretzel,
  pudding,
  pumpkin,
  radish,
  raspberry,
  rice,
  risotto,
  rolling-pin,
  salad,
  salad-1,
  salami,
  salmon,
  salt,
  sandwich,
  sandwich-1,
  sausage,
  scale,
  seeds,
  shrimp,
  slotted-spoon,
  sorbet,
  spaguetti,
  spatula,
  spatula-1,
  spices,
  spoon,
  steak,
  stew,
  stew-1,
  strainer,
  strawberry,
  sushi,
  sushi-1,
  sushi-2,
  taco,
  tea,
  tea-1,
  teapot,
  teapot-1,
  teaspoon,
  tenderizer,
  thermos,
  toast,
  toaster,
  toffee,
  tomato,
  turkey,
  water,
  water-1,
  watermelon,
  whisk,
  wrap
);

@each $food in $foods {
  .food-icon--#{$food}:before {
    background: url('img/food/#{$food}.svg');
  }
}
