// =======================================
// SHOPPING LIST
// =======================================

.shopping-list {
  position: absolute;
  overflow: hidden;
  background: #F9FAFB;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  z-index: 9;
  box-shadow: 0 7px 22px -14px #7D7D7D;

  &__heading {
    background: #FDA49D;
    padding: 14px 30px 13px;

    h6 {
      color: white;
    }
  }
  & &__title { // Higher specificity required
    margin-bottom: 15px;
  }
  &__list {
    @include clearfix;
    margin-bottom: 20px;
  }
  &__content {
    padding: 30px;

    p {
      margin: 0 0 20px;
    }
  }
  &__container {
    position: relative;
    float: right;
    width: 90%;
  }
  &__action {
    float: right;
    cursor: pointer;

    .remove {
      margin-left: 5px;
    }
  }
  &__item-weight {
    float: left;
    color: #8EC2EA;
    font-size: 15px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.shopping-list-item {
  box-sizing: border-box;
  width: 25%;
  margin-bottom: 15px;
  padding-right: 15px;
  border-left: 2px solid #ECECEC;

  &__media {
    background: white;
    padding: 12px 10px 9px 15px;
    box-shadow: $item-box-shadow;
  }

  &.meat { border-color: $light-pink; }
  &.fruit-veg { border-color: $light-green; }
  &.other { border-color: $light-blue; }

  &__title {
    margin-bottom: -1px;
    line-height: 1.2;
  }
  &__image {
    height: 38px;
    width: 38px;
  }

  &,
  &[class*="food-icon"]:before {
    float: left;
    line-height: 24px;
  }
  &[class*="food-icon"]:before {
    margin-right: 12px;
  }
}

// TODO JM - Refactor this to be less brittle
.is-half > .shopping-list__container .shopping-list-item {
  width: 50%;
}