// =======================================
// SHOPPING LIST
// =======================================

.shopping-list {
  overflow: hidden;
  background: $light-grey;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  z-index: 9;
  box-shadow: 0 7px 22px -14px #7D7D7D;


  &--side-panel {
    position: absolute;
    width: 45%;
    right: 0;
  }
  &__heading {
    background: #FDA49D;
    padding: 14px 30px 13px;

    h6 {
      color: white;
    }
  }
  & &__title { // Higher specificity required
    margin-bottom: 15px;
  }
  &__list {
    @include clearfix;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    margin-bottom: 20px;
  }
  &__content {
    padding: 30px;

    p {
      margin: 0 0 20px;
    }
  }
  &__action {
    float: right;
    cursor: pointer;

    .remove {
      margin-left: 5px;
    }
  }
  &__item-weight {
    float: left;
    color: #8EC2EA;
    font-size: 15px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.shopping-list-item {
  box-sizing: border-box;
  border-left: 2px solid #ECECEC;

  &__media {
    background: white;
    padding: 12px 10px 9px 15px;
    box-shadow: $item-box-shadow;
  }

  &.meat {
    border-color: $light-pink;
  }
  &.fruit-veg {
    border-color: $light-green;
  }
  &.other {
    border-color: $light-blue;
  }

  &__title {
    margin: 0 6px -1px 0;
    line-height: 1.2;
  }
  &__image {
    height: 38px;
    width: 38px;
  }

  &,
  &[class*="food-icon"]:before {
    float: left;
    line-height: 24px;
  }
  &[class*="food-icon"]:before {
    margin-right: 12px;
  }
}
